@import url(../../vendor/mobiscroll/css/mobiscroll.animation.css);
@import url(../../vendor/mobiscroll/css/mobiscroll.icons.css);
@import url(../../vendor/mobiscroll/css/mobiscroll.frame.css);
@import url(../../vendor/mobiscroll/css/mobiscroll.scroller.css);
.visit-nav .nav-list a {
    padding: 0;
}

.visit-nav {
    padding: 20px 0;
    text-align: center;
    background: #fff;
}

.visit-nav ul {
    display: inline-block;
    width: 70%;
    height: 32px;
    border: 1px solid #ddd;
    border-radius: 20px;
}

.visit-nav ul li {
    float: left;
    width: 50%;
    line-height: 30px;
}

.visit-nav ul li a {
    display: block;
}

.visit-nav ul li.active a {
    background: #C70303;
    color: #fff;
    border-radius: 20px;
}

.visit-nav ul li .not-click {
    color: #ddd;
    cursor: default;
}
