.colleague-list,.company-list {
    padding: 5px;
    background: #fff;
    margin-bottom: 10px;
}

.client-classify {
    position: relative;
    width: 100%;
    height: 60px;
    text-align: center;
}

.client-classify span {
    position: relative;
    z-index: 1;
    padding: 0 10px;
    line-height: 60px;
    font-size: 18px;
    background: #f2f2f2;
}

.client-classify:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    display: inline-block;
    width: 100%;
    height: 1px;
    background: #9fa1aa;
    background: linear-gradient(to right, rgba(0, 0, 0, .001), rgba(0, 0, 0, .5), rgba(0, 0, 0, .001));
}

.more-btn {
    text-align: right;
    padding: 10px 0;
}

.more-btn .btn {
    padding: 6px 0 6px 10px;
    margin-right: 10px;
}

.more-btn .glyphicon {
    font-size: 12px;
    top: 0;
}

.more-btn .glyphicon:last-child {
    left: -6px;
}

.colleague-info,.company-info {
    position: relative;
    margin: 5px -10px;
    padding: 5px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid rgba(15, 163, 223, 0.5);
    overflow: hidden;
}

.company-info p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.company-info .company-name {
    font-weight: bold;
    padding: 10px 0 5px;
}

.company-info .company-add,
.company-info .company-logo {
    width: 100%;
    /*height: 110px;*/
    overflow: hidden;
}

.company-info .company-logo img {
    width: 100%;
}

.company-info .company-add {
    width: 100%;
    /*height: 165px;*/
    background: rgba(15, 163, 223, 0.2);
    text-align: center;
}

/*.company-add .rectangle {
    display: inline-block;
    width: 6px;
    height: 60px;
    background: #0fa3df;
    margin-top: 26px;
}

.company-add .rectangle-vertical {
    transform: rotate(90deg);
    margin: 0 0 0 -6px;
}*/

.company-add p {
    font-size: 18px;
    color: #0fa3df;
    line-height: 55px;
}

/*.colleague-list{
    margin: 0 5px;
}
.colleague-list li{
    position: relative;
}
.colleague-list li a{
    display: block;
    padding-right: 25px;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #f2f2f2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.colleague-list li span{
    position: absolute;
    right: 0;
    top: 12px;
    color: #999;
}*/

.colleague-info{
    border-color: #ddd;
    display: -webkit-box;
}
.colleague-info .avatar{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius:50%; 
    overflow:hidden;
}
.colleague-info .avatar img{
    width: 100%;
}
.colleague-info .info{
    -webkit-box-flex: 1;
}
.colleague-info .info p{
    padding-left:10px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.colleague-info .info .name{
    padding-top: 3px;
    font-weight: bold;
}
.colleague-info .record span{
    color: #0fa3df;
}