.section .customer-basic {
    display: block;
    margin: 0 -10px;
}
.section .customer-basic p{
    line-height: 24px;

}

.section .labels {
    margin: 10px 0;
    padding: 0;
}

.section .labels li {
    display: inline-block;
    padding: 0 10px;
    border: 1px solid #0fa3df;
    margin: 0 5px 5px 0;
    line-height: 22px;
}

.section .labels .l-bus {
    border-color: #C70303;
}

.section .more {
    display: block;
    line-height: 45px;
    font-size: 14px;
    text-align: right;
    padding-right: 40px;
    border-top: 1px solid #ddd;
}

.principal-list {
    padding: 0 10px 5px;
}