@import url(../../vendor/mobiscroll/css/mobiscroll.animation.css);
@import url(../../vendor/mobiscroll/css/mobiscroll.icons.css);
@import url(../../vendor/mobiscroll/css/mobiscroll.frame.css);
@import url(../../vendor/mobiscroll/css/mobiscroll.scroller.css);

.btn-all {
    cursor: pointer;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background: #fff;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#eee));
}

.btn-all span {
    padding-left: 10px;
}